/* Tudo */
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Crimson+Text:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family:'Roboto', sans-serif;
}

p, li , label {
 color: black;
  font-size: 18px;
}

/*Barra*/
.navbar {
  background-color: #1A4C8A;
}

#btn-menu {
  background-color: #B0CBE8;
}


.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  padding: 1rem .9rem;
}

#logo {
  width: 140px;
}

.nav-link {
  color: white;
}

#home-menu:hover {
  color: #B0CBE8;

}
#destinations-menu:hover {
  color: #B0CBE8;
}

#promotions-menu:hover{
  color: #B0CBE8;
}

#contact-menu:hover {
  color: #B0CBE8;
}

/*Carrossel*/

.carousel-item img {
  height: 500px; /* Defina a altura desejada para as imagens do carrossel */
  object-fit: cover; /* Redimensiona a imagem para preencher o espaço do contêiner */
}

/* estilo.css */
#carousel-container {
  position: relative;
}

#carousel-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  background-color: rgb(255, 255, 255,0.7);
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
  color: #1A4C8A;
  text-align: center;
}
@media (max-width: 768px) {
  #carousel-caption {
      font-size: 18px;
  }
}
/* Formulários */

form {
  position: center;
  padding: 15px;
}

.btn-primary {
  background-color: #1A4C8A;
  color: white;
  border-radius: 15px;
}

.btn-primary:hover {
  background-color: #B0CBE8;
  color: #1A4C8A;
}

hr {
  background-color: #1A4C8A;
}

/* Cards */

.card {
  margin-bottom: 1rem !important;
  border-radius: 20px;
  border-color: #B0CBE8 ;
  text-align: center;
}

.card-img-top {
  border-radius: 20px;
}


.btn-secondary {
  background-color: #1A4C8A;
  border-radius: 15px ;
}

.btn-secondary:hover {
  background-color: #B0CBE8;
  color: black;
}

/* Rodapé */

footer {
  background-color: #1A4C8A;
}
#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #B0CBE8;
}

.contact-box i {
  color: #B0CBE8;
  border: solid 1px #B0CBE8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

#contact-all {
  padding-top: 50px;
}

#copy-area {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contactfont {
  color: white;
}

